@charset "UTF-8";
/*
 * basic : 
	폰트 스타일
	폰트 사이즈
	컬러
	로고
 */
@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Kanit:wght@100;200;300;400;500&family=Noto+Sans+KR:wght@100;300;400;500;700&family=Titillium+Web:wght@200;300;400;600&display=swap");
/* ************************************************************************************ */
/* tag reset */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,400&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, img {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
}

body, code {
  font: 16px 'Lato', 'Noto Sans KR','Open Sans', Verdana, AppleGothic, sans-serif;
  color: #303538;
  background: #fff;
}
li {
    list-style: none;
  }
  
  img, fieldset {
    border: none;
    vertical-align: top;
    max-width: 100%;
  }
  
  table {
    width: 100%;
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
  }
  
  caption {
    display: none;
  }
  
  th, td {
    border: 0;
    vertical-align: top;
  }
  
  button {
    overflow: visible;
    padding: 0;
    margin: 0;
    border: 0;
    cursor: pointer;
  }
  
  a {
    text-decoration: none;
    color: #303538;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  a:active {
    text-decoration: none;
  }
  * {
    box-sizing: border-box;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  



.wrap {
    border:1px solid #d9d9d9;
}
header {
    padding: 20px 0;
    border-bottom: 1px solid #d9d9d9;
}
h1 {
    font-size: 60px;
    text-align: center;
}
aside {
    width:300px;
    height: 100vh;
    border-right: 1px solid #d9d9d9;
}
aside ul {
    padding-top: 50px;
}
aside li {
    padding: 10px 20px;
}